<h1>title: <%=@board.title%> By: <%=@board.user.email%></h1>
<ul>
<%@board.pins.each do |pin|%>
  <li><p><%=pin.title%></p>  <img src="<%=pin.url%>"/></li>
  <%=form_for [@board,pin], method: "delete" do |f| %>
      <%=f.submit "Delete Pin", class: "delete"%>
    <%end%>
<%end%>
</ul>


<%=link_to "Add Pin", new_board_pin_path(@board)%>
